
.main-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-wrap-left {
    margin-left: 5vw;
    margin-right: 2.5vw;
}

.main-wrap-right {
    margin-left: 2.5vw;
}

