
#navigationPanel {
    background-color : #666;
    list-style : none;
    margin: 0;
    height: 05vh;
}


.menu-item a {
    color: #eee;
    text-decoration: none;
    display: block;
    padding: 1em;
}