
:root {
font-size: 16px;
font-family: 'Open Sans';
--text-primary: #b6b6b6;
--text-secondary: #ececec;
--bg-primary: #23232e;
--bg-secondary: #121218;


}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 4rem;
    padding: 1rem;
}





.navbar {
    margin: 0;
    top: 0;
    height: 4rem;
    width: 100vw;
    position: fixed;
    background-color: var(--bg-primary);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    font-size: 20px;
}

.navbar-nav li {
    margin-right: 20px;
}



